*.js linguist-language=typescript
*.tsx linguist-language=typescript
*.ts linguist-language=typescript
*.scss linguist-language=typescript
*.css linguist-language=typescript
*.html linguist-language=typescript
