@import '../../style/index.scss';

$swipe-action: 'cp-ui-swipe-action';

.#{$swipe-action} {
  * {
    touch-action: none;
  }

  &.#{$swipe-action}-wrap {
    width: 100%;
    font-size: 14px;
    position: relative;

    .#{$swipe-action}-content {
      position: relative;
      z-index: 110;
      display: block;
    }

    .#{$swipe-action}-button {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgb(221, 221, 221);
      height: 100%;
      justify-content: center;

      &:not(:last-child) {
        background-color: red;
        border-right: 1px solid #fff;
      }
    }

    +.#{$swipe-action}-wrap {
      border-top: 1px solid #cfcfcf;
    }
  }
}
