@import '../../style/index.scss';

$slide: 'cp-ui-slide';

.#{$slide} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  position: relative;
  height: 12px;
  margin: 14px 6px 10px;
  padding: 4px 0;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;

  &-rail {
    width: 100%;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  &-track {
    position: absolute;
    top: 4px;
    height: 4px;
    background-color: #91d5ff;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  &-handle,
  &-handle2 {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    margin-left: -7px;
    background-color: #fff;
    border: solid 2px #91d5ff;
    border-radius: 50%;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}