@import '../../style/index.scss';
$avatar: 'cp-ui-avatar';

.#{$avatar} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;

  .avatar_ava {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-large {
    width: 48px;
    height: 48px;

    .cp-ui-icon {
      font-size: 24px !important;
    }
  }

  &-small {
    width: 24px;
    height: 24px;

    .cp-ui-icon {
      font-size: 12px !important;
    }
  }

  &-normal {
    .cp-ui-icon {
      font-size: 18px !important;
    }
  }

  &-square {
    @include round($border-radius-large);
  }

  &-circle {
    @include round(50%);
  }

  &-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
}