@import '../../style/index.scss';

$list-view: 'cp-ui-list-view';
.#{$list-view} {
  * {
    touch-action: initial;
  }
  @mixin pullBox() {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #999;
    position: relative;

    img {
      width: auto;
      height: 16px;
      vertical-align: -4px;
      margin-right: 10px;
      transition: transform 0.3s ease;
    }
  }

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  &-pull-down-tip,
  &-pull-up-tip {
    @include pullBox();
  }

  &-pull-down-tip {
    margin-top: -30px;
  }

  .back_top {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    display: none;

    i {
      font-size: 44px;
      color: #1296db;
    }

    img {
      width: 42px;
      height: 42px;
    }
  }
}
