// @import '../src/components/style/core/core.scss';

// .icon-hover {
//   &:hover {
//     background: #ccc;
//     cursor: pointer;
//   }

//   border-radius: 6px;
// }

// pre {
//   background: rgb(40, 44, 52);
// }

// .mr-20 {
//   margin-right: 20px;
//   display: inline-block;
// }

// .red {
//   background-color: #ff5454;
//   padding: 20px;
// }

// *,
// *::before,
// *::after {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

// body {
//   color: #fff;
// }